/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  background: #f5f7fa;
  color: #333;
  line-height: 1.6;
  padding: 20px;

  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    text-transform: uppercase;
  }

  .description {
    text-align: start;
    margin-bottom: 30px;
  }

  .subtitle {
    margin-bottom: 15px;
    color: #34495e;
  }

  .endpoint-list {
    list-style-type: none;

    .endpoint-item {
      padding: 8px 0;
      font-size: 14px;
      p {
        margin-bottom: 8px;
      }

      code {
        color: white;
        background: #272727;
        padding: 8px 6px;
        border-radius: 4px;
        margin-right: 4px;

        .get {
          padding: 8px 10px;
          color: #5b1ad3;
        }
        .post {
          padding: 8px 10px;
          color: #36b42b;
        }
        .patch {
          padding: 8px 10px;
          color: #b4ab2b;
        }
        .delete {
          padding: 8px 10px;
          color: #e74c3c;
        }
      }
    }
  }
}

/* --- Responsive Design --- */

/* Tablets */
/* @media (max-width: 900px) {
  
} */

/* Móviles */
/* @media (max-width: 600px) {
} */
